:root {
  --color-background: rgba(246, 246, 246, 1);
  --color-social: rgba(200, 200, 200, 1);
  --color-navigation: rgba(150, 150, 150, 1);
  --color-navigation-hover: rgba(100, 100, 100, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-navigation);
  background: var(--color-background);
  font-size: 20px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

/* header */

.header {
  height: 100vh;
  display: flex;
  align-items: center;
  max-height: 900px;
}

.header__icons {
  position: absolute;
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
  top: 60px;
  right: 50%;
  transform: translateX(50%);
}
.header__svg {
  max-height: 20px;
  fill: var(--color-navigation);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__use {
}
.header__list {
  display: flex;
  align-items: center;
}
.header__item {
  color: var(--color-navigation);
  border: 1px var(--color-social) solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__input_search {
  border: none;
  background-color: transparent;
}

.header__button {
  border: 1px var(--color-social) solid;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  margin-left: 10px;
  background-color: transparent;
  cursor: pointer;
}

.header__button_right {
  border: 1px var(--color-social) solid;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__button_right:hover .header__svg {
  fill: var(--color-navigation-hover);
}

.header__button:hover .header__svg {
  fill: var(--color-navigation-hover);
}

.header__search_form {
  display: flex;
  align-items: center;
  border: 1px var(--color-social) solid;
  border-radius: 50px;
  height: 30px;
  padding-left: 20px;
  padding-right: 5px;
}

.header__background {
  background-image: url(../images/background-1.png),
    url(../images/background-1-0.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll, fixed;
  width: 100%;
  height: 580px;
}

.header__list_navigation {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-navigation);
  display: flex;
  margin-top: 480px;
}
.header__item_navigation {
  margin-right: 25px;
}

.header__item_navigation:last-child {
  margin-right: 0;
}
.header__list_social {
  font-size: 14px;
  line-height: 14px;
  transform: rotate(90deg);
  display: flex;
  position: relative;
  left: 650px;
  top: 200px;
}
.header__item_social {
  margin-right: 20px;
}
.header__item_social:last-child {
  margin-right: 0;
}
.header__link_social {
  color: var(--color-social);
}

.header__link_navigation {
  color: var(--color-navigation);
}
.header__link_social:hover {
  color: var(--color-navigation);
}

.header__link_navigation:hover {
  color: var(--color-navigation-hover);
}

/* section 2 */

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  max-height: 900px;
  background-image: url(../images/background-0.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* section 3 */

.hero2 {
  height: 100vh;
  max-height: 900px;
  background: var(--color-background);
}
